body {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -80%);
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#joke {
    background-color: bisque;
    border-style: solid;
    border-color:aliceblue ;
    border-radius: 25px;
    display: none;

}

div {
    border-radius: 25px;
    background: bisque;
    padding: 20px;
    width: 400px;
    height: 300px;
}
#button {
    background-color: bisque;
    border-radius: 25px;
    border-color: aliceblue;
}